#ae:hover{
    display: block;
    background-image: url(images/endgame2.jpg);
    background-position:top;
    background-size:auto;
    width: 150px;
    height: 270px;
    background-repeat: no-repeat;
}
    
#a:hover{
    display: block;
    background-image: url(images/avatar2.gif);
    background-position:top;
    background-size:auto;
    width: 176px;
    height: 300px;
    background-repeat: no-repeat;
}

#t:hover{
    display: block;
    background-image: url(images/titanic.gif);
    background-position:top;
    background-size:auto;
    width: 184px;
    height: 275px;
    background-repeat: no-repeat;
}

#sw1:hover{
    display: block;
    background-image: url(images/star%20wars.gif);
    background-position:top;
    background-size:auto;
    width: 182px;
    height: 268px;
    background-repeat: no-repeat;
}

#iw:hover{
    display: block;
    background-image: url(images/avengers.gif);
    background-position:top;
    background-size:auto;
    width: 185px;
    height: 300px;
    background-repeat: no-repeat;
}

#d:hover{
    display: block;
    background-image: url(images/dino2.gif);
    background-position:top;
    background-size:auto;
    width: 185px;
    height: 320px;
    background-repeat: no-repeat;
}

#l:hover{
    display: block;
    background-image: url(images/liom.gif);
    background-position:top;
    background-size:auto;
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
}

#ta:hover{
    display: block;
    background-image: url(images/the%20avengers.gif);
    background-position:top;
    background-size:auto;
    width: 182px;
    height: 268px;
    background-repeat: no-repeat;
}

#f7:hover{
    display: block;
    background-image: url(images/furious%207.gif);
    background-position:top;
    background-size:auto;
    width: 182px;
    height: 268px;
    background-repeat: no-repeat;
}

#age:hover{
    display: block;
    background-image: url(images/age.gif);
    background-position:top;
    background-size:auto;
    width: 170px;
    height: 250px;
    background-repeat: no-repeat;
}

#bp:hover{
    display: block;
    background-image: url(images/bp.gif);
    background-position:top;
    background-size:auto;
    width: 203px;
    height: 280px;
    background-repeat: no-repeat;
}

#hp:hover{
    display: block;
    background-image: url(images/hp.gif);
    background-position:top;
    background-size:auto;
    width: 206px;
    height: 305px;
    background-repeat: no-repeat;
}

#sw2:hover{
    display: block;
    background-image: url(images/sw2.gif);
    background-position:top;
    background-size:auto;
    width: 180px;
    height: 280px;
    background-repeat: no-repeat;
}

#jw:hover{
    display: block;
    background-image: url(images/jw.gif);
    background-position:top;
    background-size:auto;
    width: 166px;
    height: 221px;
    background-repeat: no-repeat;
}

#f:hover{
    display: block;
    background-image: url(images/frozen.jpg);
    background-position:top;
    background-size:auto;
    width: 220px;
    height: 350px;
    background-repeat: no-repeat;
}

#bb:hover{
    display: block;
    background-image: url(images/bb.gif);
    background-position:top;
    background-size:auto;
    width: 190px;
    height: 265px;
    background-repeat: no-repeat;
}

#i2:hover{
    display: block;
    background-image: url(images/i2.gif);
    background-position:top;
    background-size:auto;
    width: 180px;
    height: 300px;
    background-repeat: no-repeat;
}

#f8:hover{
    display: block;
    background-image: url(images/f8.gif);
    background-position:top;
    background-size:auto;
    width: 175px;
    height: 320px;
    background-repeat: no-repeat;
}

#i3:hover{
    display: block;
    background-image: url(images/iron3.gif);
    background-position:top;
    background-size:auto;
    width: 190px;
    height: 300px;
    background-repeat: no-repeat;
}

#m:hover{
    display: block;
    background-image: url(images/m.gif);
    background-position:top;
    background-size:auto;
    width: 145px;
    height: 235px;
    background-repeat: no-repeat;
}

#cw:hover{
    display: block;
    background-image: url(images/civil.gif);
    background-position:top;
    background-size:auto;
    width: 190px;
    height: 280px;
    background-repeat: no-repeat;
}

#man:hover{
    display: block;
    background-image: url(images/man.gif);
    background-position:top;
    background-size:auto;
    width: 210px;
    height: 260px;
    background-repeat: no-repeat;
}

#spider:hover{
    display: block;
    background-image: url(images/spider.gif);
    background-position:top;
    background-size:auto;
    width: 180px;
    height: 210px;
    background-repeat: no-repeat;
}

#captain:hover{
    display: block;
    background-image: url(images/captain.gif);
    background-position:top;
    background-size:auto;
    width: 170px;
    height: 350px;
    background-repeat: no-repeat;
}

#trans:hover{
    display: block;
    background-image: url(images/transformers.gif);
    background-position:top;
    background-size:auto;
    width: 240px;
    height: 350px;
    background-repeat: no-repeat;
}
